@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
}

div {
    margin: 0;
}

body {
    height: 200vh;
    overflow-x: hidden;

}

.grid {
    overflow-x: hidden;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-rows: 100vh 60vh 20vh;
    grid-template-columns: 100%;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

/* ----------------------------- Header -----------------------------------------------------------*/
body {
    background-image: radial-gradient(#5e626d, #333740);
    margin: 0;
}

header {
    background-image: url("../img/indexImg.svg");
    background-size: 150vh 100vh;
    background-repeat: no-repeat;
    /* pode excluir a linha abaixo se você não estiver usando grid */
    grid-area: header;
    /* ------------------------------ */
    background-position: right;
    font-size: 4vh;
}

.headerflex {

    position: relative;
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    top: 6%;
    left: 2.6%;


}

.logo {
    text-align: center;
    color: white;
    width: 22vh;
    height: 3vw;
    background-color: #FF5933;
    border-radius: 5px;
    font-weight: 700;
}

a {
    text-decoration: none;

}

.a-header {
    color: rgba(255, 255, 255, 0.88);
    padding-left: 2%;
    padding-right: 2%;

}

#nav-header {
    margin-left: 1%;
    width: 100%;
    position: relative;

}

main, footer {
    background-color: white;
}

/*--------------------------------------------------------------------------------------------*/
#map_form {
    height: 100%;
    width: 100%;
    display: flex;
    grid-area: main;
}

#map {
    width: 50%;
    height: 100%;
}

#form {
    width: 50%;
    height: 100%;
}

#questions {
    margin: 6%;

}

input {
    padding: 1vh;
    margin: -2vh;
    position: relative;
    height: 3.5vh;
    width: 18vw;
    left: 17%;
    border-radius: 6px;
    border: grey 1px solid;
    margin-bottom: 5%;

}


::placeholder {
    padding-left: 2%;
}

button {
    position: relative;
    background: #FF6340;
    height: 6vh;
    width: 9.5vw;
    border-radius: 5px;
    border-color: white;
    color: white;
    margin: auto 20% auto 29%;
    left: -0%;


}

button:hover {
    background: #ce5337;
    cursor: pointer;
}

main {
    grid-area: main;
}


#nav-footer {
    display: flex;
    position: relative;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.a-footer {
    position: relative;
    top: 10%;
    color: black;
    padding: 0 5% 0 5%;
}

footer {
    grid-area: footer;
    width: 100%;
    font-size: large;

}

#telephone {
    font-weight: 1000;
    font-size: large;

}

#email {
    text-decoration: underline;
}

#flex-footer {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#footer-info {
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: space-around;
    margin-top: -1vh;
    margin-bottom: 1vh;
}

main {
    font-size: 2.5vh;

}

footer {
    font-size: 2.5vh;
}

#telephone {
    font-size: 2.8vh;
}

@media(min-width: 1001px) {
    .grid {
        overflow: hidden;
    }

}
