/* 3. textos principais título e paragrafo*/

main{
    height: 10vw;
    margin-top: 80px;
    text-align: center;
    font-size: x-large;
}

/* 4. Div e seus Cards */

/* Div container para os cards */

.container{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

/* 4.2 Card e seus itens*/
.container-card{
    width: 300px;
    height: 470px;
    background-color: #E5E5E5;
    box-shadow: 0 5px 20px;
}

/* imagem */
img{
    width: 100%;
}

/* texto */
.container-card-text{
    text-align: left;
    padding: 10px 0 0 25px;
    font-size: large;
    line-height: 1;
    height: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    color:  #ff5933;
}


/* Botões */

button{
    width: 250px;
    height: 35px;
    background-color: #ff5933;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 900;
}

@media screen and (max-width: 849px) {
    header {
        height: 300px;
    }

    .headerflex {
        flex-direction: column;
        padding-left: unset;
    }

    #nav-header {
        display: flex;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
        align-items: center;
        grid-gap: 32px;
    }

    footer > div{
        display: block;
        width: 100%;
        padding: 16px;
    }

    footer{
        font-size: x-large;
    }

    footer > div > p{
        display: flex;
        justify-content: center;
    }
    .menu-rodape {
        width: 100%;
    }
    .menu-rodape > a {
        font-size: large;
    }
}